// Fonts
$primary-font: 'futura_bdcn_btbold';
// $primary-font: 'Roboto Condensed', sans-serif;
// $secondary-font: 'Roboto', sans-serif;
$secondary-font: 'futurabook';

// Colors
$primary-color: #FF2079;
$primary-light: #48FFC8;
$black: #0b003b;
$white: #fff;
$gray: #434343;
$border-color: #FF2079;
$body-color: $white;
$text-color: #2200B8 ;
$text-light: #370AFF ;


// Footer
$footer-bg : #370AFF ;
